{{ define "head" }}
{{ end }}

{{ define "main" }}
<div class="mainContentFrame">
  {{/*  DEBUG template selection:  */}}
  <h5 class="font-lima-bean">(is-LIST-page!!!!!!)</h5>

  <a class="mainTitle" href="{{ .Permalink }}"></a>
  {{/*  {{ partial "section-if.html" . }}  */}}
  
  <h1 class="font-gold">{{ .Title }}</h1>

  <p>{{ .Content }}</p>
  {{/*  <p class="go-big font-gold">Destacado go-big y font-gold.</p>  */}}
  
  <hr class="lcars-bar">
</div>

<h2 class="font-ice">Section Index:</h2>
    {{ range .Pages }}
    <ul>
      <li>
              <a href="{{ .Permalink }}">
                <h4 class="font-gold">{{ .Title }}</h4>
              </a>
              <ul class="lcars-list">
                {{ range .Pages }}
                  <li><a href="{{ .Permalink }}"> {{ .Title }}</a></li>
                {{ end }}
              </ul>
      </li>

    </ul>
      {{ end }}
    

{{ end }} 

{{ define "scripts" }}
{{ end }}