{{ define "head" }}
{{ end }}

{{ define "main" }}
<div class="mainContentFrame">

    {{/*  DEBUG template selection:  */}}
  <h5 class="font-ice">(is-SINGLE-page!!!!!!)</h5>

  <a class="mainTitle" href="{{ .Permalink }}">

    {{ if .Params.section }}
      <h1>Section: {{ .Params.section }}</h1>
    {{ else }}
      {{/*  <h1>No Section</h1>  */}}
    {{ end }}
    
  </a>
  <h2 class="font-gold">{{ .Title }}</h2>

  <p>{{ .Content }}</p>
  {{/*  <p class="go-big font-gold">Destacado go-big y font-gold.</p>  */}}
  
  <hr>
</div>
    

{{ end }} 

{{ define "scripts" }}
{{ end }}